* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: 100px auto 100px;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background: grey;
  gap: 10px;
  grid-template-areas:
  "header aside"
  "content aside"
  "footer aside"
  
}


.header {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 20px;
  background: white;
}

.footer {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: auto;
  padding: 20px;
  background: white;
  grid-area: footer;
}

.content {
  display: flex;
  width: 100%;
  gap: 10px;
  
  grid-area: content;
}
.conteiner__item{
  display: flex;
  width: 50%;
  gap: 10px;
  flex-wrap: wrap;
  grid-area: content;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 180px;
  padding: 20px;
  background: white;
}
.card2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 90px;
  padding: 20px;
  background: white;
}
.aside{
  width: 100%;
  height: 100%;
  background-color:rgb(255, 255, 255);
  grid-area: aside;
  padding: 20px;
}